{% load cms_tags sekizai_tags menu_tags %}
<div id="header">
  <header id="topNav">
    <div class="container">

      <a class="logo" href="/">
        <img src="{{ STATIC_URL }}images/logo.png" alt="Speak Up Mzansi">
      </a>

      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Top Nav -->
      <div class="navbar-collapse nav-main-collapse collapse">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main">
            {% show_menu 0 1 100 100 "menu.html" %}
            <li>
              <a href="http://speakup-forums.code4sa.org"><i class="fa fa-2x fa-comments-o"></i>Speak Up!</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>
