{% load menu_tags staticfiles %}

<div class="site-header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="Speak Up Mzansi" src="{% static 'images/forums-logo.png' %}">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% show_menu 0 0 100 100 "menu.html" %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ SPEAKUP_DISCOURSE_URL }}"><i class="fa fa-bullhorn fa-fw"></i> Have your say</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
