{% extends 'mobile/_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div data-bb-type="title" data-bb-caption="Log In" data-bb-back-caption="Back" ></div>

<div><a href="/">&lt; Back</a></div>

<div data-bb-type="round-panel"> 
  <div data-bb-type="panel-header">Log In</div>
  <form class="login-form" action="{% url "m-login" %}" method="POST">
    {{ form.non_field_errors }}

    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% csrf_token %}

    <div>
    {{ form.username.errors }}
    {{ form.username.label_tag }}
    {{ form.username }}
    </div>

    <div>
    {{ form.password.errors }}
    {{ form.password.label_tag }}
    {{ form.password }}
    </div>

    <input class="btn btn-submit" type="submit" value="Login">
  </form>

  <a href="{% url 'm-new-user' %}">Sign Up</a>
</div>


{% endblock %}
