{% extends 'mobile/_base.html' %}
{% load humanize mxit %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<h2>Sign Up</h2>

<form class="new-user-form" action="{% url "m-new-user" %}" method="POST">
  {{ form.non_field_errors }}

  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

  {% csrf_token %}

  <div>
  {{ form.email.errors }}
  {{ form.email.label_tag }}
  {{ form.email }}
  {{ form.email.help_text }}
  </div>

  <div>
  {{ form.username.errors }}
  {{ form.username.label_tag }}
  {{ form.username }}
  </div>

  <div>
  {{ form.name.errors }}
  {{ form.name.label_tag }}
  {{ form.name }}
  </div>

  <div>
  {{ form.password.errors }}
  {{ form.password.label_tag }}
  {{ form.password }}
  </div>

  <input class="btn btn-submit" type="submit" value="Create New Account">
</form>

<a href="{% url 'm-login' %}">Log In</a>

{% endblock %}
