<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Speak Up Mzansi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Building better conversations between citizens and their leaders.">

    {% block head-css %}{% endblock %}
    {% block head-meta %}{% endblock %}

  </head>
  <body {% block body-attributes %}{% endblock %} class='{% block body-class %}{% endblock %}'>
    <div id="wrapper">
      {% for message in messages %}
      <div class="messages">
        <p>{{ message }}</p>
      </div>
      {% endfor %}

      {% block content %}{% endblock content %}

      {% block footer %}
      <hr>
      <footer class="footer">
        <a href="http://speakupmzansi.org.za">View desktop site</a>
      </footer>
      {% endblock %}
    </div>

    {% block javascript %}
    {% if GOOGLE_ANALYTICS_TRACKING_ID and GOOGLE_ANALYTICS_DOMAIN %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create',
         '{{ GOOGLE_ANALYTICS_TRACKING_ID }}',
         '{{ GOOGLE_ANALYTICS_DOMAIN }}');
      ga('send', 'pageview');
    </script>
    {% endif %}
    {% endblock %}
  </body>
</html>
