{% extends 'mobile/_base.html' %}
{% load humanize mxit %}

{% block title %} Latest discussions {% endblock %}

{% block content %}

<div data-bb-type="title" data-bb-caption="Speak Up Mzansi" data-bb-back-caption="Back" ></div>

<div data-bb-type="image-list" data-bb-images="none" data-bb-style="arrowlist">
  {% for category in categories %}
    {% if category.topics %}
    <div data-bb-type="header">{{ category.name }} ({{ category.topics|length }})</div>

      {% for topic in category.topics %}
      <div data-bb-type="item" data-bb-title="{{ topic.title }}" onclick="window.location='/t/{{ topic.id }}';">
        {{ topic.last_posted_at|timesince }} ago
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
