{% load cms_tags staticfiles sekizai_tags menu_tags %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Freedom House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render_block "css" %}
    {% block head-css %}{% endblock %}
    {% block head-meta %}{% endblock %}

  </head>
  <body {% block body-attributes %}{% endblock %} class='{% block body-class %}{% endblock %}'>
    {% cms_toolbar %}

    <div id="wrapper">
      {% include 'includes/header.html' %}

      {% block content %}
      {% endblock content %}

      {% include 'includes/footer.html' %}
    </div>

    {% render_block "js" %}
    {% block javascript-libraries %}{% endblock %}
  </body>
</html>
