{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}Ward councillors{% endblock %}

{% block og-meta %}
    <meta property="og:url" content="http://info.speakupmzansi.org.za/councillor/">
    <meta property="og:title" content="Ward councillors - Speak Up Mzansi">
    <meta property="og:description" content="Your ward councillor is your representative in your municipality. Find your councillor and their contact details here.">
{% endblock %}

{% block body-class %}ward-councillor-page{% endblock %}

{% block content %}
<div class="jumbotron page-header">
  <div class="container">
    <h1>Find your Ward Councillor</h1>
    <h2>Find out who represents you where you live</h2>
  </div>
</div>

<section>
  <div class="container">
    <div id="councillor-iframe"></div>

    <script type="text/javascript">
    var CouncillorEmbedOptions = {
      qs: window.location.search,
      shareUrl: 'http://speakupmzansi.org.za/councillor/'
    };
    </script>
    <script type="text/javascript" src="http://nearby.code4sa.org/static/councillor-embed.js"></script>
  </div>
</section>
{% endblock %}
