{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block head-meta %}
  {% block og-meta %}{% endblock %}
{% endblock %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block content %}
<!-- PAGE TOP -->
<section class="page-title">
<div class="container">

    <header>

      {% block breadcrumb %}
      {#% show_breadcrumb %#}
      {% endblock %}

      <h2><!-- Page Title -->
        <strong>{% page_attribute "page_title" %}</strong>
      </h2><!-- /Page Title -->

    </header>

  </div>
</section>
<!-- /PAGE TOP -->

<section id='main' class='container {% block main-class %}{% endblock %}'>
  {% block body %}{% endblock %}
</section>

{% endblock content %}
