#header {
  padding-top: 2px;
}

header h1 {
  margin: 0px;
}

#topNav {
  a.logo {
    margin-bottom: 0px;
    img {
      height: 47px;
    }
  }

  ul.nav > li {
    a {
      color: @primary-color;
      line-height: 1.5em;

      & > i.fa {
        margin-right: 4px;
        font-size: 1.5em;
      }
    }

    a:hover {
      color: @primary-color;
    }
  }
}

.jumbotron h1 {
  line-height: 1.25em;
}

.logos {
  img {
    width: 150px;
    height: auto;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
  }
}
