header h1 {
  margin: 0px;
}

#topNav {
  .navbar {
    margin-bottom: 0px;
  }

  ul.nav-main > li {
    a {
      line-height: 2em;

      & > i.fa {
        margin-right: 4px;
        font-size: 1.5em;
      }
    }
  }

  .social-links {
    a {
      color: @text-color;

      &:hover {
        color: @link-color;
      }
    }
  }
}

.logos {
  img {
    width: 150px;
    height: auto;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
  }
}

#footer {
  background-color: #2B2B2B;
  color: #777;
  padding: 2em 0px;
  margin-top: 5em;

  h1, h2, h3, h4, h5 {
    color: white;
  }
}
