{% extends 'mxit/_base.html' %}
{% load mxit %}

{% block content %}
<h1>Latest Speak Up Mzansi Discussions</h1>

<p>Building better conversations between citizens and their leaders. <a href="{{ '/' | d_url }}" onclick="window.open(this.href); return false;">Join us at SpeakUpMzansi.org.za</a></p>

{% for category in categories %}
  {% if category.topics %}
    <h2>{{ category.name }} ({{ category.topic_count }})</h2>

    {% for topic in category.topics %}
      <a href="/t/{{ topic.id }}">{{ topic.title }}</a>
      - {{ topic.last_posted_at|short_time_ago }}
      <br>
    {% endfor %}
  {% endif %}
{% endfor %}

<p>
  <a href="{{ '/' | d_url }}" onclick="window.open(this.href); return false;">Join us at SpeakUpMzansi.org.za</a>
</p>

{% endblock %}
